<!doctype html>
<html ng-app="scotchTodo">

<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Todo App</title>

	   
     <!-- SPELLS -->

	<script language="javascript" type="text/javascript" src='/javascripts/angular.js'></script><!-- load angular -->
	<script language="javascript" type="text/javascript" src='/javascripts/jquery-3.1.1.min.js'></script><!-- load jquery -->
	<script language="javascript" type="text/javascript" src='/javascripts/codeIndex.js'></script>
	<script src='javascripts/core.js'></script>


</head>
<!-- SET THE CONTROLLER -->
<body>
	   <P>This is very minimal "hello world hello world" HTML document.</P> 



</body>

<script type="text/javascript">
     Index_Load();
</script>

</html>