doctype
html
  head
    title #{title} - My Site
    //link(rel='stylesheet', href='/stylesheets/style.css')

    // Javascript Loader
    script(src='/javascript/codeOverview.js', type='text/javascript')
    as
  body
    header
      h1 My Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus