extend bs_myUI_puglayout
block content


  .col-lg-12
    h1.page-header
      | show mongoose
      small Statistics Overview
    ol.breadcrumb
      li.active
        i.fa.fa-dashboard
          form(action='/sendpostdata', method='post')
            input#objhidden(type='hidden',  name='submitfrom', value='')

            table
              tr
                td(style='width:200px;') content A
                td
                  input(type='text',  name='contentA', id='contentA', value='')


            table(style='border-collapse:collapse;')
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_axtrig(type='button',  value='Ajax Trigger', name='submitlogging', style='width:150px')
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_srvnodetrig(type='button',  value='Backend Node Trigger', name='submitlogging', style='width:150px')
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_srvajaxtrig(type='button',  value='Backend Ajax Trigger', name='submitlogging', style='width:150px')
  block scripts
    script(type="text/javascript").
      $(function() { loadpage_trigger();  })