bs_myUI_jdindexdoctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title SB Admin - Bootstrap Admin Template
    // Bootstrap Core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/myUI-style.css', rel='stylesheet')
    // jQuery
    script(src='jsFrameworks/jquery-3.1.1.min.js')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') SB Admin
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  John Smith 
              b.caret
            ul.dropdown-menu
              li
                a(href='#')
                  i.fa.fa-fw.fa-user
                  |  Profile
              li.divider
              li
                a(href='#')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li.active
              a(href='bs_myUI_pug_about')
                i.fa.fa-fw.fa-dashboard
                |  About
            li
              a(href='bootstrap-grid.html')
                i.fa.fa-fw.fa-wrench
                |  Bootstrap Grid
            li
              a(href='javascript:;', data-toggle='collapse', data-target='#demo')
                i.fa.fa-fw.fa-arrows-v
                |  Dropdown 
                i.fa.fa-fw.fa-caret-down
              ul#demo.collapse
                li
                  a(href='#') Dropdown Item
                li
                  a(href='#') Dropdown Item
            li
              a(href='blank-page.html')
                i.fa.fa-fw.fa-file
                |  Blank Page
            li
              a(href='bs_myUI_pug_ajax')
                i.fa.fa-fw.fa-file
                |  save by Ajax
            li
              a(href='bs_myUI_pug_post')
                i.fa.fa-fw.fa-file
                |  save by Post
            li
              a(href='bs_myUI_pug_trigger')
                i.fa.fa-fw.fa-file
                |  Trigger Front/Backend
            li
              a(href='bs_myUI_pug_mongoose')
                i.fa.fa-fw.fa-file
                |  Mongoose
            li
              a(href='bs_myUI_pug_highchart')
                i.fa.fa-fw.fa-file
                |  Highcharts               
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          .row
            .col-lg-12
              .alert.alert-info.alert-dismissable
                button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                i.fa.fa-info-circle
                strong Like SB Admin?
                |  Try out 
                a.alert-link(href='http://startbootstrap.com/template-overviews/sb-admin-2') SB Admin 2
                |  for additional features!
          // /.row
          // Page Heading
          .row
            block content

            // .col-lg-12
              h1.page-header
                | Dashboard 
                small Statistics Overview
              ol.breadcrumb
                li.active
                  i.fa.fa-dashboard
                  |  Dashboard

          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    footer.footer
      .container
        p.text-muted Place sticky footer content here.
    // jQuery
    script(src='jsFrameworks/jquery-3.1.1.min.js')
    // Bootstrap Core JavaScript
    script(src='jsFrameworks/bootstrap.min.js')

    // my Own Javascripts
    script(src='javascripts/codepagepost.js', type='text/javascript')
    script(src='javascripts/codepageajax.js', type='text/javascript')
    script(src='javascripts/codemongoose.js', type='text/javascript')
    script(src='javascripts/codetrigger.js', type='text/javascript')
    script(src='javascripts/codehighcharts.js', type='text/javascript')
            
    // Morris Charts JavaScript
    script(src='js/plugins/morris/raphael.min.js')
    script(src='js/plugins/morris/morris.min.js')
    script(src='js/plugins/morris/morris-data.js')
