extend bs_myUI_puglayout
block content


  .col-lg-12
    h1.page-header
      | Page save by Ajax 
      small Statistics Overview
    ol.breadcrumb
      li.active
        i.fa.fa-dashboard
        |  Dashboard