extend bs_myUI_puglayout
block content


  .col-lg-12
    h1.page-header
      | show mongoose
      small Statistics Overview
    ol.breadcrumb
      li.active
        i.fa.fa-dashboard
          form(action='/sendpostdata', method='post')
            input#objhidden(type='hidden',  name='submitfrom', value='')

            table
              tr
                td(style='width:200px;') Node Answer
                td
                  input(type='text',  name='nodeanswer', id='nodeanswer', value='')


            table(style='border-collapse:collapse;')
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_simpleajax(type='button',  value='Simple Ajaxo without Answer', name='submitlogging', style='width:150px')            
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_claxtrig(type='button',  value='Single Client Ajax Trigger', name='submitlogging', style='width:150px')
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_nclaxtrig(type='button',  value='Timer Client Ajax Trigger', name='submitlogging', style='width:150px')                    
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_srvnodetrig(type='button',  value='Backend Single Node Trigger', name='submitlogging', style='width:150px')
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_nsrvnodetrig(type='button',  value='Backend Timer Node Trigger', name='submitlogging', style='width:150px')                    
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_srvajaxtrig(type='button',  value='Backend Single Ajax Trigger', name='submitlogging', style='width:150px')
              tr
                td(style='width:200px;')
                td(style='width:200px;')
                  div(style='float:right;margin-top:15px')
                    input#btn_nsrvajaxtrig(type='button',  value='Backend Timer Ajax Trigger', name='submitlogging', style='width:150px')                    
  block scripts
    script(type="text/javascript").
      $(function() { loadpage_trigger();  })