extends hvjade_layout

block content

  form(action='/overview', method='post')
    h2 Overview

        table(style='width:650px')
          tr
            td


block scripts
  script(type='text/javascript', language='javascript')
   $(function() {
     
   })